#background {
  /* viewport-fill: red; */
  fill: red;
}

#timeLabel {
  font-size: 90;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

#hourlyStepsLabel {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7%;
  y: 0%+40;
  fill: white;
}

#trajectoryStepsLabel {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 93%;
  y: 0%+40;
  fill: white;
}

#totalStepsLabel {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7%;
  y: 100%-15;
  fill: white;
}

#heartRateLabel {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 84%;
  y: 100%-15;
  fill: white;
}

#heartRateIcon {
  x: 86%;
  y: 100%-43;
  width: 30;
  height: 30;
  fill: white;
}

#topLine {
  x1: 10;
  x2: 100%-10;
  fill: #fafafa;
  stroke-width: 2;

  y1: 55;
  y2: 55;
}

#bottomLine {
  x1: 10;
  x2: 100%-10;
  fill: #fafafa;
  stroke-width: 2;

  y1: 100%-55;
  y2: 100%-55;
}

