#dayLabel {
  font-size: 34;
  font-family: System-Bold;
  text-length: 62;
  text-anchor: middle;
  x: 50%;
  y: 0%+40;
  fill: white;
}

#dateLabel {
  font-size: 34;
  font-family: System-Bold;
  text-length: 62;
  text-anchor: middle;
  x: 50%;
  y: 100%-20;
  fill: white;
}

#smallTimeLabel {
  font-size: 34;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 25%+40;
  fill: white;
}

#timeLabel {
  font-size: 90;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

#hourlyStepsLabel {
  font-size: 34;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7%;
  y: 0%+40;
  fill: white;
}

#trajectoryStepsLabel {
  font-size: 34;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 93%;
  y: 0%+40;
  fill: white;
}

#totalStepsLabel {
  font-size: 34;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  x: 7%;
  y: 100%-15;
  fill: white;
}

#heartRateLabel {
  font-size: 34;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
  x: 84%;
  y: 100%-15;
  fill: white;
}

#heartRateIcon {
  x: 86%;
  y: 100%-38;
  width: 22;
  height: 22;
}

#topLine {
  x1: 10;
  x2: 100%-10;
  fill: #fafafa;
  stroke-width: 2;

  y1: 52;
  y2: 52;
}

#bottomLine {
  x1: 10;
  x2: 100%-10;
  fill: #fafafa;
  stroke-width: 2;

  y1: 100%-52;
  y2: 100%-52;
}
